
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-color: wheat;
}
.main{
    background-color: cadetblue;
    padding: 30px;
    margin: 50px auto;
    width:500px;
    text-align: center;
}
.login, .signup{
    background-color: whitesmoke;
    margin: 10px 0;
    padding:15px;
}
.login h3{
    color:cadetblue;
}
.login a{
    color:black;
} .signup a {
    color:wheat;
}
.signup{
    background-color: tomato;
}