
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color:blueviolet;
}
form{
    background-color:cadetblue;
    padding:30px;
    border-radius: 4px;
    width:450px;
    margin: 50px auto;
    text-align: center;
}
form div{
    margin: 10px 0;
}
#photo{
    margin-left:70px;
}
button{
    border:none;
    outline:none;
    background:linear-gradient(cadetblue,black);
    color:white;
    padding:5px 18px;
    border-radius:3px;
    font-size: 16px;
    margin-top:20px;
}