
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:aquamarine;
    text-align: center;
    font-family: fantasy;
    padding:50px 0;
}
img{
    width:65%;
    height:45vh;
    margin: 10px 0;
}
div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
    width:80%;
    height:100px;
    margin: 10px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div h2{
    padding: 5px 0;
}
div a{
    text-decoration: none;
    color:white;
    font-weight: 500;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 4px;
}
div a:hover{
    text-decoration: underline;
    color:black;
    background-color: cadetblue;
}