<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studetns information</title>
    <link rel="stylesheet" href="../css/students.allinfo.css">
</head>
<body>
    <div class="main">
        <div class="login" style="background-color:burlywood;">
            <h3>See your information?</h3>
            <a href="/students/login/single/info">Login</a>
        </div>
        <div class="login">
            <h3>Update your information?</h3>
            <a href="/students/single/confirm/identity">Update</a>
        </div>
        <div class="signup">
            <h4>Delete your account or information?</h4>
            <a href="/students/single/delete">Delete</a>
        </div>
        <div class="signup" style="background-color: cadetblue;">
            <h4>See all students information?</h4>
            <a href="/students/all/info">All info</a>
        </div>
    </div>
</body>
</html>